<header class="header">
    <div class="container">
        <div class="header-top">
            <a href="/" class="logo">
                <img src="img/logo.jpg" alt="Лого">
                <span>Апгрейд - Скупка и продажа ПК и ноутбуков</span>
            </a>
            <div class="address">г. Брянск, Авиационная улица, д. 1А</div>
            <a href="tel:+74832629620" class="tel">+7 (4832) 62-96-20</a>
            <div class="social">
                <a href="https://vk.com/upgrade_br" target="_blank" class="soc vk"></a>
                <a href="https://www.instagram.com/upgradebryansk/" target="_blank" class="soc inst"></a>
            </div>
        </div>
        <ul class="menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Скупка ПК и ноутбуков</a></li>
            <li><a href="#">Сервисный центр</a></li>
            <li><a href="#">Доставка/оплата</a></li>
            <li><a href="#">Гарантия/возврат</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</header>