<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <a href="/" class="logo">
                <img src="img/logo.jpg" alt="Лого">
            </a>
            <div class="address">г. Брянск, Авиационная улица, д. 1А</div>
            <a href="tel:+74832629620" class="tel">+7 (4832) 62-96-20</a>
            <a href="mailto:up.bryansk@yandex.ru" class="mail">up.bryansk@yandex.ru</a>
            <div class="social">
                <a href="https://vk.com/upgrade_br" target="_blank" class="soc vk"></a>
                <a href="https://www.instagram.com/upgradebryansk/" target="_blank" class="soc inst"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">2021 © Сервисный центр "Апгрейд Брянск"</div>
            <a href="javascript:void(0);" class="btn-callback">Заказать звонок</a>
        </div>
    </div>
</footer>