@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.decor1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 350px;
    height: 50px;
    width: 100%;
    span:first-child {
        position: absolute;
        left: 0;
        top: 0%;
        display: block;
        height: 3px;
        width: 0;
        background: #0979C6;
        transition: all .8s ease-in-out;
        -webkit-transition: all .8s ease-in-out;
        -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
    }
    span:last-child {
        position: absolute;
        left: 0;
        top: 25%;
        display: block;
        width: 0;
        height: 3px;
        background: #85BC23;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        height: 3px;
        width: 0;
        background: #0979C6;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 75%;
        display: block;
        height: 3px;
        width: 0;
        background: #85BC23;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
}

.decor1.load {
    span:first-child {
        width: 100%;
    }
    span:last-child {
        width: 75%;
    }
    &::before {
        width: 50%;
    }
    &::after {
        width: 25%;
    }
}

.decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 350px;
    height: 50px;
    width: 100%;
    span:first-child {
        position: absolute;
        right: 0;
        top: 25%;
        display: block;
        height: 3px;
        width: 0;
        background: #85BC23;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    span:last-child {
        position: absolute;
        right: 0;
        top: 50%;
        display: block;
        height: 3px;
        width: 0;
        background: #0979C6;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 75%;
        display: block;
        width: 0;
        height: 3px;
        background: #85BC23;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 100%;
        display: block;
        height: 3px;
        width: 0;
        background: #0979C6;
        transition: all .8s ease-in-out;
        -webkit-transition: all .8s ease-in-out;
        -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
    }
}

.decor2.load {
    span:first-child {
        width: 25%;
    }
    span:last-child {
        width: 50%;
    }
    &::before {
        width: 75%;
    }
    &::after {
        width: 100%;
    }
}

.ico-main {
    position: absolute;
    width: 50px;
}

.ico-anim-1 {
    top: 15%;
    left: 10%;
    animation-name: amim-top-bottom;
    -webkit-animation-name: amim-top-bottom;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: -1;
}

.ico-anim-2 {
    top: 45%;
    left: 15%;
    animation-name: amim-left-right;
    -webkit-animation-name: amim-left-right;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: -1;
}

.ico-anim-5 {
    top: 75%;
    left: 5%;
    animation-name: amim-top-bottom;
    -webkit-animation-name: amim-top-bottom;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: -1;
}

.ico-anim-3 {
    top: 15%;
    right: 5%;
    animation-name: amim-left-right;
    -webkit-animation-name: amim-left-right;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: -1;
}

.ico-anim-6 {
    top: 45%;
    right: 15%;
    animation-name: amim-top-bottom;
    -webkit-animation-name: amim-top-bottom;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: -1;
}

.ico-anim-4 {
    top: 75%;
    right: 5%;
    animation-name: amim-left-right;
    -webkit-animation-name: amim-left-right;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes amim-top-bottom {
    0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    50% {
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

@keyframes amim-left-right {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    50% {
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header {
    padding: 15px 0 15px 0;
    margin-bottom: 50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        max-width: 150px;
        width: 100%;
    }
    span {
        display: block;
        max-width: 200px;
        width: 100%;
        margin-left: 5px;
        font-size: 14px;
        color: #000;
    }
}

.address {
    font-size: 14px;
    color: #000;
    background: url(../img/gps.svg) no-repeat left center;
    padding: 0 0 0 25px;
    background-size: contain;
}

.tel {
    font-size: 14px;
    color: #000;
    background: url(../img/phone.svg) no-repeat left center;
    padding: 0 0 0 25px;
    background-size: contain;
}

.mail {
    font-size: 14px;
    color: #000;
    background: url(../img/mail.svg) no-repeat left center;
    padding: 0 0 0 25px;
    background-size: contain;
}

.mail:hover {
    color: #85BC23;
    background: url(../img/mail-hover.svg) no-repeat left center;
    background-size: contain;
}

.tel:hover {
    color: #85BC23;
    background: url(../img/phone-hover.svg) no-repeat left center;
    background-size: contain;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {}
    a {
        position: relative;
        font-size: 15px;
        color: #000;
        text-transform: uppercase;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 1px;
            background: #85BC23;
            bottom: -4px;
            left: 0;
            right: 0;
            margin: auto;
            transition: width .3s ease-in-out;
        }
        &:hover {
            background: linear-gradient(180deg, #0979C6 20%, #85BC23 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 1px;
            background: #0979C6;
            top: -4px;
            left: 0;
            right: 0;
            margin: auto;
            transition: width .3s ease-in-out;
        }
        &:hover::before,
        &:hover::after {
            width: 100%;
        }
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc {
    margin: 0 5px;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.vk {
    background: url(../img/vk.svg) no-repeat center;
}

.vk:hover {
    background: url(../img/vk-hover.svg) no-repeat center;
}

.inst {
    background: url(../img/inst.svg) no-repeat center;
}

.inst:hover {
    background: url(../img/inst-hover.svg) no-repeat center;
}

.slider-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
    width: 50%;
}

.slider-desc {
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 10px;
    color: #fff;
    width: 50%;
}

.btn-more {
    display: block;
    max-width: 200px;
    width: 100%;
    background: #85BC23;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
    text-align: center;
    &:hover {
        background: #0979C6;
    }
}

.slider-top {}

.slider-top__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 35px 120px 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    z-index: 5;
    outline: none;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .1);
        z-index: -1;
    }
}

.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0979C6;
    z-index: 2;
}

.slick-prev:focus,
.slick-next:focus {
    background-color: #0979C6;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #85BC23;
}

.slick-prev:before,
.slick-next:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 45%;
    height: 45%;
    margin: auto;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-prev:before {
    background-image: url(../img/left.svg);
    left: -4px;
}

.slick-next:before {
    background-image: url(../img/right.svg);
    right: -4px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.copyright {
    font-size: 15px;
}

.btn-callback {
    display: block;
    max-width: 200px;
    width: 100%;
    background: #85BC23;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
    text-align: center;
    &:hover {
        background: #0979C6;
    }
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 18px;
    height: 14px;
}

#hamburger-icon .line {
    position: absolute;
    left: 0;
    display: block;
    background: #ff6543;
    width: 18px;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

.mobile-menu {
    display: none;
}

.line.line-1 {
    top: 0;
}

.line.line-3 {
    top: 100%;
}

.line.line-2 {
    top: 50%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.ov-hidden {
    overflow: hidden;
}

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade:not(.show) {
    opacity: 0
}

@media (min-width:576px) {
    .modal-dialog {
        margin: 0 auto;
        max-width: 655px
    }
}

.modal-dialog {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 655px;
    position: relative;
    width: auto;
    height: 100vh;
    pointer-events: none
}

.modal-content {
    background: #fff;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    max-width: 655px;
    width: 100%;
    pointer-events: auto;
    border: none;
    outline: 0
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(10, 22, 30, 0.9);
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url(../img/close.svg) no-repeat center;
    right: 31px;
    top: 31px;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 1
}

.form-popup {
    padding: 45px 45px 60px 45px;
}

.modal-open {
    overflow: hidden;
    padding-right: 17px!important;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #ec4824;
    }
    .modal-close:hover {
        opacity: 0.7;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    body {
        padding-top: 68px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #152027;
        z-index: 99;
        width: 100%;
        box-shadow: 0 8px 20px rgba(200, 200, 200, .1);
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        top: 68px;
        right: 0;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: calc(100vh - 68px);
        z-index: 30;
        overflow: auto;
        background: rgba(21, 32, 39, 0.95);
        padding: 35px 15px 25px;
        box-sizing: border-box;
        // box-shadow: inset 0 29px 33px rgba(0, 86, 189, .1);
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile-menu .menu li {
        display: block;
        margin: 0 0 20px 0;
    }
    .mobile-menu .menu a {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .modal-content {
        margin: 0 15px;
    }
}

// @import 'media';