@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 18px;
    height: 14px;
}

#hamburger-icon .line {
    position: absolute;
    left: 0;
    display: block;
    background: #ff6543;
    width: 18px;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

.mobile-menu {
    display: none;
}

.line.line-1 {
    top: 0;
}

.line.line-3 {
    top: 100%;
}

.line.line-2 {
    top: 50%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.ov-hidden {
    overflow: hidden;
}

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade:not(.show) {
    opacity: 0
}

@media (min-width:576px) {
    .modal-dialog {
        margin: 0 auto;
        max-width: 655px
    }
}

.modal-dialog {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 655px;
    position: relative;
    width: auto;
    height: 100vh;
    pointer-events: none
}

.modal-content {
    background: #fff;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    max-width: 655px;
    width: 100%;
    pointer-events: auto;
    border: none;
    outline: 0
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(10, 22, 30, 0.9);
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url(../img/close.svg) no-repeat center;
    right: 31px;
    top: 31px;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 1
}

.form-popup {
    padding: 45px 45px 60px 45px;
}

.modal-open {
    overflow: hidden;
    padding-right: 17px!important;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #ec4824;
    }
    .modal-close:hover {
        opacity: 0.7;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    body {
        padding-top: 68px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #152027;
        z-index: 99;
        width: 100%;
        box-shadow: 0 8px 20px rgba(200, 200, 200, .1);
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        top: 68px;
        right: 0;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: calc(100vh - 68px);
        z-index: 30;
        overflow: auto;
        background: rgba(21, 32, 39, 0.95);
        padding: 35px 15px 25px;
        box-sizing: border-box;
        // box-shadow: inset 0 29px 33px rgba(0, 86, 189, .1);
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile-menu .menu li {
        display: block;
        margin: 0 0 20px 0;
    }
    .mobile-menu .menu a {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .modal-content {
        margin: 0 15px;
    }
}

// @import 'media';